{% extends 'base.html.twig' %}

{% block title %}Товары{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>Товары</h1>

    <div style="display:flex; flex-wrap: wrap; justify-content: center;">
        {% for title, product in products %}
            <div>
                <a href="product/{{product.id}}">
                    <h2>{{product.name}}</h2>
                    <div style="width: 300px; padding: 5px; height: 180px; overflow: hidden;">
                        <img style="width: 300px; height: 180px; object-fit: cover;" src="{{product.imgage}}"><br>
                    </div>
                </a>
                <p>Цена: {{product.price}} руб.</p>
            </div>
        {% endfor %}
    </div>

    <ul>
        <li><a href="../">Главная</a></li>
    </ul>
</div>
{% endblock %}
